/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    left: 6px;
    /* background: linear-gradient(45deg, #ee6161, #fed402, #05e39c, #01d0fb); */
    background: linear-gradient(45deg, #404b69, #04828a);
}
